.modal-wrapper {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-body {
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cross-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.cross-button {
    transform: rotate(45deg) translateX(0px) translateY(30px);
    color: white;
    background-color: rgba(0, 0, 0, 0.77);
    font-weight: 500;
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}